body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#label{
  color: #00008C;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
height: 17px;
}

.fieldInput{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 120%;
background-color: white;
height: fit-content;


}

.modalText{
  color: #00008C;
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 120%;
  height: 40px;
  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 5%;

}

#submitButton{
  background-color: 'blue';
   color: 'white';
   border-radius: '28'
}

.defaultButton{
  background-color: '#0000FF';
     display: 'flex';
flex-direction: 'row';
justify-content: 'center';
align-items: 'center';
padding: '12px 24px 12px 20px';
gap: '8px';

}

.snackBarText{
  color: 'grey';
   margin-left: '20px';
    margin-top: '5px';
     font-family: 'Barlow';
  font-weight: '400';
  font-size: '14px'

}

.snackBarSuccesHeader{

    color: '#00008C';
     display: 'flex';
      font-size: '16px';
    font-weight: '600'

}

.defa::first-letter{
  text-transform: uppercase;
}

span::first-letter{
  text-transform: uppercase;
}
